__pycache__/

data/login_cache.json
data/subscription_list.json
data/white_list.json
data/bot_config.yaml
data/subscription_list copy.json
logs/
test.py
data/history.db
data/group_list.json
data/subgroup_list.json
migrator.py
pwtest.py
data/data.db
error/
data/browser
package
.vscode/
.idea/
data/.lock
.venv*/
dist/
build/
Static/