__pycache__/
logs/
test.py
migrator.py
pwtest.py
error/
.vscode/
package
.idea/
.venv*/
dist/
build/
static/browser

data/browser
data/error
data/logs
data/.lock
data/bot_config.yaml
data/data.db
data/*.json